body{
    margin: 0%;
    padding: 0%;
}

nav{
    display: flex;
    background-color: #000;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

} 


#logo-text{
    color:white;
    letter-spacing: 10px;
    font-size:1em;
    margin: 0%;
    padding: 0%;
    text-transform: uppercase;

}

#nav-logo{
    width: 90px;
    height: 60px;
}

.nav-links{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-links li{
    list-style: none;
} 

.nav-links a{
    text-decoration: none;
    color:white;
}

.burger div{
    width: 40px;
    height: 3px;
    background-color:white;
    margin: 5px;
}

.burger{
    display: none;
    cursor: pointer;
}
/* this is for the main content */
.content{
    margin: 5%;
}
.header{
    text-transform: uppercase;
}

.projects h3{
    text-transform: uppercase;
}
/* this is for the project cards */
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    list-style: none;
    
}
.cards li {
    position: relative;
    overflow: hidden;
}

.cards li img{
    width:290px;
    height:250px ;
    margin: 10px;
    transition: 2s;
}

.cards li:hover img{
    transform: scale(1.5);
}
.cards li:hover h4{
    margin-top: 50px;
}

.cards li h4{
    text-transform: uppercase;
}

.card-content{
    margin:20px;
}

/* this is for mobile view */

@media screen and (max-width:760px){
    body{
        overflow-x: hidden;
    }    

   
    .nav-links{
        position: absolute;
        right: 0px;
        height: 100%;
        top: 8vh;   
        background-color:#000;
        /* opacity:80%; */
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition:transform 0.2s ease-in;
    }

    .burger{
        display:block;
    }

    .cards{
        display: flex; 
        flex-direction: column;
        align-items: center;
        
        
    }

    .cards li img{
        width:500px;
        height:300px;
        
    }
}