body{
    margin: 0%;
    padding: 0%;
}

nav{
    width: 100%;
    background-color: #000;
}

.logo{
    padding: 10px;
}

#logo-name{
    color:white;
    font-size:2em;
    margin: 0%;
    padding: 0%;

}

.nav-logo{
    width: 90px;
    height: 60px;
}

.nav-links{
    display: inline-flex;
    margin: 0%;
    position: fixed;
}

.nav-link{
    margin: 10px;
}
