* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, rgb(61, 0, 61), rgb(0, 238, 255));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h1 {
  position: relative;
}

h1 button {
  position: absolute;
  right: 0;
  transform: translate(120%, -50%);
  z-index: 2;
}

.btn {
  cursor: pointer;
  background-color: #00F3FF;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 15px;
}

.btn-small {
  font-size: 15px;
  padding: 5px 10px;
}

.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

.cards {
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
}
