:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.603), 0 1px 2px rgba(0, 0, 0, 0.603);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(90deg, rgb(45, 46, 45), rgb(201, 210, 211));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, cursive;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid lawngreen;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: white;
  color: black;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid lawngreen;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: rgb(250, 0, 0);
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid lawngreen;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.btn {
  cursor: pointer;
  background-color: #2ecc71;
  box-shadow: var(--box-shadow);
  color: white;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-sizing: var(--box-shadow);
  color: black;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px;
  margin: 10px 0;
  border-radius: 0 5px 5px 0;
}

.list li.plus {
  border-right: 10px solid #2ecc71;
}

.list li.minus {
  border-right: 10px solid rgb(255, 0, 0);
}

.delete-btn {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  font-size: 15px;
  line-height:30px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
